<h1>Editing Spree Store</h1>

<%= form_for(@spree_store) do |f| %>
    <% if @spree_store.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@spree_store.errors.count, "error") %> prohibited this spree_store from being saved:</h2>

          <ul>
            <% @spree_store.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Show', @spree_store %>
