<h1>New Spree Store</h1>

<%= form_for(@spree_user, url: stores_path) do |f| %>
    <% if @spree_user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@spree_user.errors.count, "error") %> prohibited this spree_store from being saved:</h2>

          <ul>
            <% @spree_user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>

    <%= f.fields_for(:store) do |s| %>
        <div class="field">
          <%= s.label :name %><br>
          <%= s.text_field :name %>
        </div>

        <div class="field">
          <%= s.label :url %><br>
          <%= s.text_field :url %>
        </div>

        <div class="field">
          <%= s.label :mail_from_address %><br>
          <%= s.email_field :mail_from_address %>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Back', stores_path %>
