// Place all the styles related to the TranslationMarket::LanguagePairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.number-range-filter {
  .range-divider {
    padding: 0;
  }
  input.pricepicker {
    width: 96px !important;
  }
}