<div data-hook="admin_language_pair_form_fields" class="row">
  <div class="alpha six columns">
    <%= f.field_container :source_language_id do %>
        <%= f.label :name, TranslationMarket.t(:name) %>
        <%= f.text_field :name, class: 'fullwidth', disabled: true %>
        <span title="<%= TranslationMarket.t(:cannot_update_name) %>" class="fa fa-question-circle icon_link no-text with-tip"></span>
    <% end %>

    <%= f.field_container :description do %>
        <%= f.label :description, TranslationMarket.t(:description) %>
        <%= f.text_area :description, class: 'fullwidth' %>
        <%= error_message_on :order_category, :description %>
  <% end %>
  </div>

  <div data-hook="admin_language_pair_form_price_fields" class="omega six columns">
    <%= f.field_container :price_multiplier do %>
        <%= f.label :price_multiplier, TranslationMarket.t(:price_multiplier) %>
        <%= f.number_field :price_multiplier, class: 'fullwidth' %>
        <%= error_message_on :order_category, :price_multiplier %>
    <% end %>

    <%= f.field_container :delivery_time_multiplier do %>
        <%= f.label :delivery_time_multiplier, TranslationMarket.t(:delivery_time_multiplier) %>
        <%= f.number_field :delivery_time_multiplier, class: 'fullwidth' %>
        <%= error_message_on :order_category, :delivery_time_multiplier %>
    <% end %>

    <%= f.field_container :active do %>
        <%= f.label :active do %>
            <%= f.check_box :active %> <%= TranslationMarket.t(:active) %>
        <% end %>
    <% end %>
  </div>
</div>
