<%= render 'translation_market/admin/shared/title_content', key: :editing_order_category %>

<% content_for :page_title do %>
    <%= link_to "#{TranslationMarket.t(:editing_order_category)}: #{@order_category.name}", edit_admin_order_category_path(@order_category) %>
<% end %>

<% content_for :page_actions do %>
    <li>
      <%= button_link_to TranslationMarket.t(:back_to_order_categories_list), main_app.admin_order_categories_path, :icon => 'arrow-left' %>
    </li>
<% end %>

<div data-hook="admin_user_new_form_header">
  <%= render partial: 'spree/shared/error_messages', locals: { target: @order_category } %>
</div>

<div data-hook="admin_user_new_form">
  <%= form_for [:admin, @order_category], url: main_app.admin_order_category_path(@order_category), method: :put do |f| %>
      <%= render partial: 'form', locals: { f: f } %>

      <% if can?(:update, @order_category) %>
          <div data-hook="admin_user_edit_form_button">
            <%= render partial: 'translation_market/admin/shared/edit_resource_links', locals: { collection_url: main_app.admin_order_categories_path } %>
          </div>
      <% end %>
  <% end %>
</div>
