<%= render 'translation_market/admin/shared/title_content', key: :order_categories %>

<% content_for :page_title do %>
    <%= TranslationMarket.t(:listing_order_categories) %>
<% end %>

<table class="index" id="listing_order_categories" data-hook>
  <colgroup>
    <col style="width: 25%">
    <col style="width: 25%">
    <col style="width: 10%">
    <col style="width: 10%">
    <col style="width: 5%">
    <col style="width: 15%">
  </colgroup>
  <thead>
  <tr data-hook="admin_order_categories_index_headers">
    <th><%= sort_link @search, :name, TranslationMarket.t(:name), {}, { title: 'order_categories_name_title' } %></th>
    <th>
      <%= TranslationMarket.t(:description) %>
    </th>
    <th><%= sort_link @search, :price_multiplier, TranslationMarket.t(:price_multiplier), {}, { title: 'order_categories_price_multiplier_title' } %></th>
    <th><%= sort_link @search, :delivery_time_multiplier, TranslationMarket.t(:delivery_time_multiplier), {}, { title: 'order_categories_delivery_time_multiplier_title' } %></th>
    <th><%= sort_link @search, :active, TranslationMarket.t(:active), {}, { title: 'order_categories_active_title' } %></th>
    <th data-hook="admin_order_categories_index_header_actions" class="actions"></th>
  </tr>
  </thead>

  <tbody>
  <% @order_categories.each do |order_category| %>
      <tr id="<%= spree_dom_id order_category %>" data-hook="admin_order_categories_index_rows" class="<%= cycle('odd', 'even') %>">
        <td class='order_categories_name'><%= order_category.name %></td>
        <td class="order_categories_description"><%= order_category.description %></td>
        <td class='order_categories_price_multiplier'><%= number_with_delimiter(order_category.price_multiplier) %></td>
        <td class='order_categories_delivery_time_multiplier'><%= number_with_delimiter(order_category.delivery_time_multiplier) %></td>
        <td class='language_pairs_active'><%= order_category.active? ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
        <td data-hook="admin_order_categories_index_row_actions" class="actions">
          <% if can?(:edit, order_category) %>
              <%= link_to_with_icon('edit', Spree.t(:edit), main_app.edit_admin_order_category_path(order_category), no_text: true) %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @order_categories %>

<% content_for :sidebar_title do %>
    <%= Spree.t(:search) %>
<% end %>

<% content_for :sidebar do %>
    <div class="box align-center" data-hook="admin_order_categories_index_search">
      <%= search_form_for [:admin, @search], url: main_app.admin_order_categories_path do |f| %>
          <div class="field">
            <%= f.label :id_eq, TranslationMarket.t(:name) %><br/>
            <%= f.select(:id_eq, @order_categories_for_search, { include_blank: Spree.t('match_choices.none') }, { class: 'select2 fullwidth' }) %>
          </div>
          <div class="number-range-filter field">
            <%= f.label :price_multiplier_gteq, TranslationMarket.t(:price_multiplier) %><br/>
            <%= f.text_field :price_multiplier_gteq, class: 'pricepicker' %>
            <span class="range-divider">
                <i class="fa fa-arrow-right"></i>
            </span>
            <%= f.text_field :price_multiplier_lteq, class: 'pricepicker' %>
          </div>
          <div class="number-range-filter field">
            <%= f.label :delivery_time_multiplier_gteq, TranslationMarket.t(:delivery_time_multiplier) %><br/>
            <%= f.text_field :delivery_time_multiplier_gteq, class: 'pricepicker' %>
            <span class="range-divider">
                <i class="fa fa-arrow-right"></i>
            </span>
            <%= f.text_field :delivery_time_multiplier_lteq, class: 'pricepicker' %>
          </div>
          <div class="field">
            <%= f.check_box :activated, { checked: params[:q][:activated] == '1' } %>
            <%= TranslationMarket.t(:active) %>
          </div>
          <div data-hook="admin_users_index_search_buttons">
            <%= button Spree.t(:search), 'search' %>
          </div>

          <br/><i class="fa fa-times"></i> <%= link_to TranslationMarket.t(:reset_search), main_app.admin_order_categories_path %>
      <% end %>
    </div>
<% end %>