<div data-hook="admin_language_pair_form_fields" class="row">
  <div class="alpha twelve columns">
    <%= f.field_container :code do %>
        <%= f.label :name, TranslationMarket.t(:name) %>
        <%= f.text_field :code, class: 'fullwidth', disabled: true, value: t("languages.#{f.object.code}") %>
        <span title="<%= TranslationMarket.t(:cannot_update_name) %>" class="fa fa-question-circle icon_link no-text with-tip"></span>
    <% end %>

    <%= f.field_container :active do %>
        <%= f.label :active do %>
            <%= f.check_box :active %> <%= TranslationMarket.t(:active) %>
        <% end %>
    <% end %>
  </div>
</div>
