<%= render 'translation_market/admin/shared/title_content', key: :editing_language %>

<% content_for :page_title do %>
    <%= link_to "#{TranslationMarket.t(:editing_language)}: #{t("languages.#{@language.code}")}", edit_admin_language_path(@language) %>
<% end %>

<% content_for :page_actions do %>
    <li>
      <%= button_link_to TranslationMarket.t(:back_to_languages_list), main_app.admin_languages_path, :icon => 'arrow-left' %>
    </li>
<% end %>

<div data-hook="admin_user_new_form_header">
  <%= render partial: 'spree/shared/error_messages', locals: { target: @language } %>
</div>

<div data-hook="admin_user_new_form">
  <%= form_for [:admin, @language], url: main_app.admin_language_path(@language), method: :put do |f| %>
      <%= render partial: 'form', locals: { f: f } %>

      <% if can?(:update, @language) %>
          <div data-hook="admin_user_edit_form_button">
            <%= render partial: 'translation_market/admin/shared/edit_resource_links', locals: { collection_url: main_app.admin_languages_path } %>
          </div>
      <% end %>
  <% end %>
</div>
