<%= render 'translation_market/admin/shared/title_content', key: :languages %>

<% content_for :page_title do %>
    <%= TranslationMarket.t(:listing_languages) %>
<% end %>

<table class="index" id="listing_languages" data-hook>
  <colgroup>
    <col style="width: 40%">
    <col style="width: 40%">
    <col style="width: 20%">
  </colgroup>
  <thead>
  <tr data-hook="admin_languages_index_headers">
    <th><%= sort_link @search, :code, TranslationMarket.t(:name), {}, { title: 'languages_code_title' } %></th>
    <th><%= sort_link @search, :active, TranslationMarket.t(:active), {}, { title: 'languages_active_title' } %></th>
    <th data-hook="admin_languages_index_header_actions" class="actions"></th>
  </tr>
  </thead>

  <tbody>
  <% @languages.each do |language| %>
      <tr id="<%= spree_dom_id language %>" data-hook="admin_languages_index_rows" class="<%= cycle('odd', 'even') %>">
        <td class='languages_code'><%= t("languages.#{language.code}") %></td>
        <td class='language_pairs_active'><%= language.active? ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
        <td data-hook="admin_languages_index_row_actions" class="actions">
          <% if can?(:edit, language) %>
              <%= link_to_with_icon('edit', Spree.t(:edit), main_app.edit_admin_language_path(language), no_text: true) %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @languages %>

<% content_for :sidebar_title do %>
    <%= Spree.t(:search) %>
<% end %>

<% content_for :sidebar do %>
    <div class="box align-center" data-hook="admin_languages_index_search">
      <%= search_form_for [:admin, @search], url: main_app.admin_languages_path do |f| %>
          <div class="field">
            <%= f.label :id_eq, TranslationMarket.t(:name) %><br/>
            <%= f.select(:id_eq, @languages_for_search, { include_blank: Spree.t('match_choices.none') }, { class: 'select2 fullwidth' }) %>
          </div>
          <div class="field">
            <%= f.check_box :activated, { checked: params[:q][:activated] == '1' } %>
            <%= TranslationMarket.t(:active) %>
          </div>
          <div data-hook="admin_users_index_search_buttons">
            <%= button Spree.t(:search), 'search' %>
          </div>

          <br/><i class="fa fa-times"></i> <%= link_to TranslationMarket.t(:reset_search), main_app.admin_languages_path %>
      <% end %>
    </div>
<% end %>