<div data-hook="admin_language_pair_form_fields" class="row">
  <div class="alpha six columns">
    <%= f.field_container :source_language_id do %>
        <%= f.label :source_language_id, TranslationMarket.t(:source_language) %>
        <% if @language_pair.new_record? %>
            <%= f.select(:source_language_id, @languages, { include_blank: Spree.t('match_choices.none') }, { class: 'select2 fullwidth' }) %>
            <%= error_message_on :language_pair, :source_language %>
            <%= error_message_on :language_pair, :source_language_id %>
        <% else %>
            <%= f.select(:source_language_id, @languages, { include_blank: Spree.t('match_choices.none') }, { class: 'select2 fullwidth', disabled: true }) %>
            <span title="<%= TranslationMarket.t(:cannot_update_source_language) %>" class="fa fa-question-circle icon_link no-text with-tip"></span>
        <% end %>
    <% end %>

    <%= f.field_container :target_language_id do %>
        <%= f.label :target_language_id, TranslationMarket.t(:target_language) %>
        <% if @language_pair.new_record? %>
            <%= f.select(:target_language_id, @languages, { include_blank: Spree.t('match_choices.none') }, { class: 'select2 fullwidth' }) %>
            <%= error_message_on :language_pair, :target_language %>
            <%= error_message_on :language_pair, :target_language_id %>
        <% else %>
            <%= f.select(:target_language_id, @languages, { include_blank: Spree.t('match_choices.none') }, { class: 'select2 fullwidth', disabled: true }) %>
            <span title="<%= TranslationMarket.t(:cannot_update_target_language) %>" class="fa fa-question-circle icon_link no-text with-tip"></span>
        <% end %>
    <% end %>
  </div>

  <div data-hook="admin_language_pair_form_price_fields" class="omega six columns">
    <%= f.field_container :word_price do %>
        <%= f.label :word_price, TranslationMarket.t(:word_price) %>
        <%= f.number_field :word_price, class: 'fullwidth' %>
        <%= error_message_on :language_pair, :word_price %>
    <% end %>

    <%= f.field_container :translator_price do %>
        <%= f.label :translator_price, TranslationMarket.t(:translator_price) %>
        <%= f.number_field :translator_price, class: 'fullwidth' %>
        <%= error_message_on :language_pair, :translator_price %>
    <% end %>

    <%= f.field_container :active do %>
        <%= f.label :active do %>
            <%= f.check_box :active %> <%= TranslationMarket.t(:active) %>
        <% end %>
    <% end %>
  </div>
</div>
