<%= render 'translation_market/admin/shared/title_content', key: :editing_language_pair %>

<% content_for :page_title do %>
    <%= link_to "#{TranslationMarket.t(:editing_language_pair)}: #{language_pair_as_string(@language_pair)}", edit_admin_language_pair_path(@language_pair) %>
<% end %>

<% content_for :page_actions do %>
    <li>
      <%= button_link_to TranslationMarket.t(:back_to_language_pairs_list), main_app.admin_language_pairs_path, :icon => 'arrow-left' %>
    </li>
<% end %>

<div data-hook="admin_user_new_form_header">
  <%= render partial: 'spree/shared/error_messages', locals: { target: @language_pair } %>
</div>

<div data-hook="admin_user_new_form">
  <%= form_for [:admin, @language_pair], url: main_app.admin_language_pair_path(@language_pair), method: :put do |f| %>
      <%= render partial: 'form', locals: { f: f } %>

      <% if can?(:update, @language_pair) %>
          <div data-hook="admin_user_edit_form_button">
            <%= render partial: 'translation_market/admin/shared/edit_resource_links', locals: { collection_url: main_app.admin_language_pairs_path } %>
          </div>
      <% end %>
  <% end %>
</div>
