<%= render 'translation_market/admin/shared/title_content', key: :language_pairs %>

<% content_for :page_title do %>
    <%= TranslationMarket.t(:listing_language_pairs) %>
<% end %>

<% content_for :page_actions do %>
    <% if can?(:admin, TranslationMarket::LanguagePair) && can?(:create, TranslationMarket::LanguagePair) %>
        <li>
          <%= button_link_to TranslationMarket.t(:new_language_pair), main_app.new_admin_language_pair_path, :icon => 'plus', :id => 'admin_new_language_pair_link' %>
        </li>
    <% end %>
<% end %>

<table class="index" id="listing_language_pairs" data-hook>
  <colgroup>
    <col style="width: 25%">
    <col style="width: 25%">
    <col style="width: 10%">
    <col style="width: 10%">
    <col style="width: 5%">
    <col style="width: 15%">
  </colgroup>
  <thead>
  <tr data-hook="admin_language_pairs_index_headers">
    <th><%= sort_link @search, :source_language_code, TranslationMarket.t(:source_language), {}, { title: 'language_pairs_source_language_title' } %></th>
    <th><%= sort_link @search, :target_language_code, TranslationMarket.t(:target_language), {}, { title: 'language_pairs_target_language_title' } %></th>
    <th><%= sort_link @search, :word_price, TranslationMarket.t(:word_price), {}, { title: 'language_pairs_word_price_title' } %></th>
    <th><%= sort_link @search, :translator_price, TranslationMarket.t(:translator_price), {}, { title: 'language_pairs_translator_price_title' } %></th>
    <th><%= sort_link @search, :active, TranslationMarket.t(:active), {}, { title: 'language_pairs_active_title' } %></th>
    <th data-hook="admin_language_pairs_index_header_actions" class="actions"></th>
  </tr>
  </thead>

  <tbody>
  <% @language_pairs.each do |language_pair| %>
      <tr id="<%= spree_dom_id language_pair %>" data-hook="admin_language_pairs_index_rows" class="<%= cycle('odd', 'even') %>">
        <td class='language_pairs_source_language'><%= t("languages.#{language_pair.source_language.code}") %></td>
        <td class='language_pairs_target_language'><%= t("languages.#{language_pair.target_language.code}") %></td>
        <td class='language_pairs_word_price'><%= number_to_currency language_pair.word_price %></td>
        <td class='language_pairs_translator_price'><%= number_to_currency language_pair.translator_price %></td>
        <td class='language_pairs_active'><%= language_pair.active? ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
        <td data-hook="admin_language_pairs_index_row_actions" class="actions">
          <% if can?(:edit, language_pair) %>
              <%= link_to_with_icon('edit', Spree.t(:edit), main_app.edit_admin_language_pair_path(language_pair), no_text: true) %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @language_pairs %>

<% content_for :sidebar_title do %>
    <%= Spree.t(:search) %>
<% end %>

<% content_for :sidebar do %>
    <div class="box align-center" data-hook="admin_language_pairs_index_search">
      <%= search_form_for [:admin, @search], url: main_app.admin_language_pairs_path do |f| %>
          <div class="field">
            <%= f.label :source_language_id_eq, TranslationMarket.t(:source_language) %><br/>
            <%= f.select(:source_language_id_eq, @languages, { include_blank: Spree.t('match_choices.none') }, { class: 'select2 fullwidth' }) %>
          </div>
          <div class="field">
            <%= f.label :target_language_id_eq, TranslationMarket.t(:target_language) %><br/>
            <%= f.select(:target_language_id_eq, @languages, { include_blank: Spree.t('match_choices.none') }, { class: 'select2 fullwidth' }) %>
          </div>
          <div class="number-range-filter field">
            <%= f.label :word_price_gteq, TranslationMarket.t(:word_price) %><br/>
            <%= f.text_field :word_price_gteq, class: 'pricepicker' %>
            <span class="range-divider">
                <i class="fa fa-arrow-right"></i>
            </span>
            <%= f.text_field :word_price_lteq, class: 'pricepicker' %>
          </div>
          <div class="number-range-filter field">
            <%= f.label :translator_price_gteq, TranslationMarket.t(:translator_price) %><br/>
            <%= f.text_field :translator_price_gteq, class: 'pricepicker' %>
            <span class="range-divider">
                <i class="fa fa-arrow-right"></i>
            </span>
            <%= f.text_field :translator_price_lteq, class: 'pricepicker' %>
          </div>
          <div class="field">
            <%= f.check_box :activated, { checked: params[:q][:activated] == '1' } %>
            <%= TranslationMarket.t(:active) %>
          </div>
          <div data-hook="admin_users_index_search_buttons">
            <%= button Spree.t(:search), 'search' %>
          </div>
          
          <br/><i class="fa fa-times"></i> <%= link_to TranslationMarket.t(:reset_search), main_app.admin_language_pairs_path %>
      <% end %>
    </div>
<% end %>