<%= render 'translation_market/admin/shared/title_content', key: :new_language_pair %>

<% content_for :page_title do %>
    <%= TranslationMarket.t(:new_language_pair) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to TranslationMarket.t(:back_to_language_pairs_list), main_app.admin_language_pairs_path, :icon => 'arrow-left' %>
  </li>
<% end %>

<div data-hook="admin_user_new_form_header">
  <%= render partial: 'spree/shared/error_messages', locals: { target: @language_pair } %>
</div>

<div data-hook="admin_user_new_form">
  <%= form_for [:admin, @language_pair], url: main_app.admin_language_pairs_path, method: :post do |f| %>
      <%= render partial: 'form', locals: { f: f } %>

      <div data-hook="admin_user_new_form_buttons">
        <%= render 'translation_market/admin/shared/new_resource_links', url: main_app.admin_language_pairs_path %>
      </div>
  <% end %>
</div>
