<% if can? :admin, Spree::Order %>
  <%= tab *Spree::BackendConfiguration::ORDER_TABS, icon: 'shopping-cart' %>
<% end %>

<% if can? :admin, Spree::Product %>
    <%= tab :products, icon: 'th-large' %>
<% end %>

<% if can? :admin, :reports %>
  <%= tab *Spree::BackendConfiguration::REPORT_TABS, icon: 'file'  %>
<% end %>

<% if can? :admin, :general_settings %>
  <%= tab *Spree::BackendConfiguration::CONFIGURATION_TABS, label: Spree.t(:settings), icon: 'wrench', url: spree.edit_admin_general_settings_path %>
<% end %>

<% if can? :admin, Spree::Promotion %>
  <%= tab *Spree::BackendConfiguration::PROMOTION_TABS, url: spree.admin_promotions_path, icon: 'bullhorn' do %>
    <%- render partial: 'spree/admin/shared/promotion_sub_menu' %>
  <%- end %>
<% end %>

<% if Spree.user_class && can?(:admin, Spree.user_class) %>
  <%= tab *Spree::BackendConfiguration::USER_TABS, url: spree.admin_users_path, icon: 'user' %>
<% end %>

<% if can? :admin, TranslationMarket::LanguagePair %>
    <%= tab *TranslationMarket::BackendConfiguration::LANGUAGEPAIR_TABS, label: TranslationMarket.t(:language_pairs), icon: 'language', url: main_app.admin_language_pairs_path %>
<% end %>

<% if can? :admin, TranslationMarket::Language %>
    <%= tab *TranslationMarket::BackendConfiguration::LANGUAGE_TABS, label: TranslationMarket.t(:languages), icon: 'flag', url: main_app.admin_languages_path %>
<% end %>

<% if can? :admin, TranslationMarket::OrderCategory %>
    <%= tab *TranslationMarket::BackendConfiguration::ORDERCATEGORY_TABS, label: TranslationMarket.t(:order_categories), icon: 'list', url: main_app.admin_order_categories_path %>
<% end %>
