<div class="jumbotron">
  <h1>Marketing stuff!</h1>

  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
    commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>

  <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
</div>

<div class="row">
  <%= form_tag(spree.populate_orders_path, multipart: true) do |f| %>
      <div class="col-lg-6">
        <h2>Select Variables</h2>
        <%= select_for_source_languages %>
        <%= select_for_target_languages %>
        <%= select_for_order_categories %>
      </div>
      <div class="col-lg-6">
        <h2>Select Files</h2>

        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <%= file_field_tag :file %>

          <p class="help-block">Please select your file.</p>

          <p><%= submit_tag('Submit', class: 'btn btn-primary', role: 'button') %></p>
        </div>
      </div>
  <% end %>
</div>